.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-details {
  width: 72px;
  height: 32px;
  background-position: 0 0;
}
.icon-digital {
  width: 72px;
  height: 32px;
  background-position: -108px 0;
}
.icon-email {
  width: 43px;
  height: 32px;
  background-position: -216px 0;
}
.icon-facebook {
  width: 32px;
  height: 32px;
  background-position: -288px 0;
}
.icon-in {
  width: 32px;
  height: 32px;
  background-position: -324px 0;
}
.icon-insta {
  width: 32px;
  height: 32px;
  background-position: -360px 0;
}
.icon-Logo-1 {
  width: 57px;
  height: 32px;
  background-position: -396px 0;
}
.icon-Logo-2 {
  width: 57px;
  height: 32px;
  background-position: -468px 0;
}
.icon-Logo-3 {
  width: 57px;
  height: 32px;
  background-position: 0 -36px;
}
.icon-Logo-4 {
  width: 57px;
  height: 32px;
  background-position: -72px -36px;
}
.icon-Logo-5 {
  width: 57px;
  height: 32px;
  background-position: -144px -36px;
}
.icon-Logo-6 {
  width: 57px;
  height: 32px;
  background-position: -216px -36px;
}
.icon-planing {
  width: 70px;
  height: 32px;
  background-position: -288px -36px;
}
.icon-reactanglebox {
  width: 59px;
  height: 32px;
  background-position: -360px -36px;
}
.icon-smartphone {
  width: 20px;
  height: 32px;
  background-position: -432px -36px;
}
.icon-time {
  width: 72px;
  height: 32px;
  background-position: -468px -36px;
}
.icon-twitt {
  width: 32px;
  height: 32px;
  background-position: 0 -72px;
}

